section {
    align-items: center;
    display: flex;
}

.form-control {
    margin-right: 10px;
}

label {
    margin-right: 10px;
}

input {
    margin-right: 10px;
    flex: 1;
}

button {
    flex: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/nightBackground.png), url(images/blankBackground.png);
    background-position: top center, bottom;
    background-repeat: repeat-x, repeat;
    background-size: 13%, cover;
    font-family: "Audiowide", monospace;
}