#welcomeBanner {
    color: white;
    font-size: 1.8vh;
    position: absolute;
    top: 11%;
    left: 10px;
  }
  
  /* progressBanner */
  #progressBanner {
    color: white;
    font-size: 2vh;
    text-align: center;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
  }

  /* leaderboard */
  #leaderboard {
    color: white;
    background: rgba(53, 53, 53, 0.326);
    font-size: 1.8vh;
    position: absolute;
    top: 11.22%;
    right: 0px;
    padding: .5em 1em;
  }

  .myHeader {
    font-size: min(2vw, 3vh);
  }
  
  /* gameGrid */
  #gameGrid {
    flex: 1;
    display: flex;
    background-image: url(images/grass.png);
    background-repeat: repeat;
    background-size: 10%;
  }
  .cityHall {
    display: flex;
    align-items: center;
  }
  
  #gameGrid img {
    width: 15vh;
    height: auto;
  }
  
  
  
  /* playerChat */
  #playerChat {
    position: fixed;
    bottom: 0;
    right: 1%;
    width: 200px;
    height: calc(25.6px + 19%);
    background-color: transparent;
    transition: right 0.3s ease-in-out;
  }

  input[type='checkbox'] { 
    display: none; 
  }
  .wrap-collapsible {
    position: relative;
  }
  .lbl-toggle { 
    display: block;
    font-size: .8rem;
    text-transform: uppercase;
    text-align: center;
    padding: .2rem;
    color: #ccc;
    background: #0069ff;
    cursor: pointer;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    transition: all 0.5s ease-out;
  }
  .lbl-toggle:hover {
    color: #FFF;
    background: #0075ff;
  }
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform:translateY(-2px);
    transition: transform .2s ease-out;
  }
  .toggle:checked+.lbl-toggle::before {
    transform: rotate(-90deg) translateX(3px);
  }
  .collapsible-content {
    max-height: 0px;
    position: absolute;
    bottom: 25.6px;
    width: 100%;
    overflow: hidden;
    transition: max-height .4s ease-in-out;
  }
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
  }
  .toggle:checked+.lbl-toggle {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .collapsible-content .content-inner {
    font-size: 0.7rem;
    background: rgba(0, 105, 255, .2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: .5rem 1rem;
    color: white;
  }
  .collapsible-content p {
    margin-bottom: 0;
  }
  
  #chatInput {
    background-color: rgba(94, 161, 255, 0.45);
    border: inset rgba(206, 226, 255, 0.45) 1px;
    color: white;
    outline: none;
    border-radius: .2em;
  }
  #chatInput:focus {
    outline: rgba(81, 153, 255, 0.882) solid 1px;
  }
  
  /* cityStats and buyBuilding */
  #cityStats,
  #buyBuilding {
    position: fixed;
    width: 100%;
    color: white;
    font-size: 13px;
    text-align: left;
  }
  
  #cityStats {
    background-color: #333333;
    bottom: 13%;
    display: flex;
    height: 6%;
    justify-content: center;
    align-items: center;
  }
  
  #buyBuilding {
    background-color: #333333;
    bottom: 4.2%;
    height: 8.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
  }
  
  #buyBuilding button {
    background-color: #999fb3;
    border: none;
    color: #333333;
    padding: 1vh 1.5vh;
    font-size: min(1.5vw, 1.5vh);
    margin: 10px;
    border-radius: 6px;
    height: 35px;
  }
  #buyBuilding button:active {
    background-color: #696d7a;
  }

  @media (orientation: portrait) {
    #welcomeBanner {
      display: none;
    }
    #leaderboard {
      display: none;
    }
    #buyBuilding img {
      width: 0;
    }
  }

  @media (max-height: 500px) {
    #welcomeBanner {
      color: white;
      font-size: 1.8vh;
      position: absolute;
      top: 0;
      left: 10px;
    }
    
    /* progressBanner */
    #progressBanner {
      color: white;
      font-size: 2vh;
      text-align: center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    
    /* leaderboard */
    #leaderboard {
      color: white;
      background: rgba(53, 53, 53, 0.326);
      font-size: 1.8vh;
      position: absolute;
      top: 0;
      right: 0px;
      padding: .5em 1em;
    }
    #playerChat {
      position: fixed;
      bottom: 0;
      right: 1%;
      width: 200px;
      height: calc(25.6px + 14.8%);
      background-color: transparent;
      transition: right 0.3s ease-in-out;
    }
    #cityStats,
  #buyBuilding {
    position: fixed;
    width: 100%;
    color: white;
    font-size: 13px;
    text-align: left;
  }
  
  #cityStats {
    background-color: #333333;
    bottom: 8.8%;
    display: flex;
    height: 6%;
    justify-content: center;
    align-items: center;
  }
  
  #buyBuilding {
    background-color: #333333;
    bottom: 0;
    height: 8.8%;
    display: flex;
    justify-content: center;
  }
  }